<p>database: <%= ActiveRecord::Base.connection_config[:database] %></p>

<table>
  <%= link_to 'Migrate', migrate_migrations_path, remote: true, method: :post, data: { disable_with: 'Migrating' } %>
  <thead>
    <tr>
      <th>Status</th>
      <th>Migration ID</th>
      <th>Migration Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @migrations %>
  </tbody>
</table>

