<!DOCTYPE html>
<html>
<head>
  <title>Migrator</title>
  <%= stylesheet_link_tag    "migrator_web/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "migrator_web/application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

